<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main Page</title>
</head>
<body>

<div class="main" align="center">
    <div class="navbar">
        <div class="icon">
            <h1>Movie Society</h1>
        </div>

        <div>
                <h3><a th:href="@{/register}">Sign Up</a></h3>
               <h3><a th:href="@{/login}">Login</a></h3>
        </div>

    </div>
    <div class="content">
        <p class="par">Welcome.<br> Here you can finally find that special movie you've been looking for!)</p>
    </div>

</div>
</div>
</div>
</body>
</html>